.accordion-item {
  display: block;
  border: 0;
  border-width: .1rem 0 0 0;
  color: var(--color, var(--color-base));
}

.accordion-item__title {
  position: relative;
  padding-right: 2rem;
  word-break: break-word;
  user-select: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.03em;
  padding-bottom: 15px;
  padding-top: 15px;
}

.accordion-item__title svg {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-50%) rotate(90deg);
}

.accordion-item details[is-open] svg {
  transform: translateY(-50%) rotate(270deg);
}

.accordion-item__content {
  opacity: 0.6;
}

.accordion-item__content ul li,
.accordion-item__content p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.03em;
}

.accordion-item__content p + p {
  margin-top: 2rem;
}

.accordion-item summary + * {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms;
}

.accordion-item .accordion-item__content>* {
    overflow: hidden;    
}
.accordion-item .accordion-item__content ul {
  margin: 0;
  padding-left: 25px;
}
.accordion-item details[is-open] summary + * {
  grid-template-rows: 1fr;
}

/* Accordion FAQ */

.accordion-item--faq {
  border: solid var(--color-form-input-border);
  border-radius:var(--border-radius);
  border-width: 0.1rem;
  padding: 3.1rem 3.1rem 1.5rem;
  margin-top: 1.8rem;
}

@media (max-width: 767px) {
  .accordion-item--faq {
    padding: 2rem 2rem 1rem;
  }
}

.accordion-item--faq .accordion-item__title {
  font-size: 2rem;
  padding-right: 4rem;
}

@media (max-width: 767px) {
  .accordion-item--faq .accordion-item__title {
    font-size: 1.8rem;
  }
}

.accordion-item--faq .accordion-item__title svg {
  top: 1.8rem;
  height: 1.2rem;
}

.accordion-item--faq .accordion-item__content {
  padding: 0;
  margin: 1.6rem 0 0;
}

@media (max-width: 767px) {
  .accordion-item--faq .accordion-item__content {
    margin-top: 1rem;
  }
}

@media (max-width: 767px) {
  .accordion-item--faq details[is-open] summary + * {
    margin-bottom: 1rem;
  }
}


/* RTL CSS  */

[dir="rtl"] .accordion-item__title svg {
    right: auto;
    left: .5rem;
    transition: transform .3s ease-in-out;
    transform: translateY(-50%) rotate(90deg);
}



