#recover {
  display: none;
}

#recover:target {
  display: block;
}

#recover:target ~ #login {
  display: none;
}

.form-customer {
  scroll-margin-top: var(--header-height, 100rem);
  padding: 100px 0;
}

@media (max-width: 767px) {
  .form-customer {
    padding: 70px 0;
  }
}

.form-customer .form__body {}

.form-customer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.form-customer .form__inner {
  background-color: #F7F8F9;
  max-width: 70.8rem;
  width: 100%;
  padding: 6rem 10rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px #27272733;
}

@media (max-width: 767px) {
  .form-customer .form__inner {
    padding: 3.2rem;
  }
}

.form-customer .form__inner--center {
  margin: 0 auto;
}

.form-customer .form__inner--right {
  margin-left: auto;
}

.form-customer .form__head {
  margin: 0 0 50px;
}

.form-customer .form__title {
  margin: 0;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.03em;

}

.form-customer .form__subtitle {
  margin-bottom: 0;
  margin-top: 10px;
}

.form-btn {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.286;
    letter-spacing: .03em;
    min-width: auto;
    padding: 15px 30px;
    height: auto;
    border-radius: 50px;
    color: #fff;
    background-color: #000;
    border: 1px solid  #000;
}
.form-btn:hover {
  color: #000;
  background-color: transparent;
}


