.section-faq {
  background-color: var(--background);
  padding: 50px 0 100px;
}

@media (max-width: 767px) {
  .section-faq {
    padding: 20px 0 70px;
  }
}

.section-faq .section__title {
  margin: 0;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.03em;
}

@media (max-width: 767px) {
  .section-faq .section__title {
    text-align: center;
    font-size: 3.2rem;
    margin-bottom: 0;
  }
}

.section-faq .section__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
}

@media (max-width: 767px) {
  .section-faq .section__inner {
    flex-direction: column;
  }
}

.faq-menu {
    width: 33.5%;
    padding: 0 15px;
    margin-top: 30px;
}

.faq-menu-link {
  padding: 60px;
  background-color: #F7F8F9;
  border-radius: 40px;
}

@media (max-width: 1023px) {
  .faq-menu {
    width: 40%;
    padding: 0 15px;
    margin-top: 30px;
  }
  .faq-menu-link {
    padding: 30px;
    border-radius: 20px;
  }
}

@media (max-width: 767px) {
  .faq-menu {
      width: 100%;
  }
}


.faq-menu-link li {}
.faq-menu-link li + li {
    margin-top: 20px;
}
.faq-menu-link li button {
    font-size: 18px !important;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.03em;
    padding-left: 30px !important;
    position: relative;
}
@media (max-width: 1023px) {
  .faq-menu-link li button {
      font-size: 16px !important;
      padding-left: 24px!important;
  }
}

.faq-menu-link li button::before {
    content: "";
    width: 14px;
    height: 14px;
    border: 1px solid rgba(51, 51, 51, 0.5);
    border-radius: 50px;
    position: absolute;
    left: 0;
    top: 5px;
}
.faq-menu-link li button::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: rgba(51, 51, 51, 1);
    border-radius: 50px;
    position: absolute;
    left: 3px;
    top: 8px;
    transform: scale(0);
}
.faq-menu-link li button[aria-selected=true]::after {
    transform: scale(1);
}

.section-faq .section__content {
  width: 66.5%;
  padding: 0 15px;
  margin-top: 15px;
}

@media (max-width: 1023px) {
  .section-faq .section__content {
    width: 60%;
  }

  .section-faq .section__content--flip {
    padding: 2.1rem 0rem 0;
  }
}
@media (max-width: 767px) {
  .section-faq .section__content {
    width: 100%;
  }
}


.section-faq .section__content--flip {
  order: 2;
}

.section-faq h6,
.section-faq .accordion .accordion__body p,
.section-faq i {
  color: var(--color);
  fill: var(--color);
}

.accordion .accordion__body p {
  opacity: 1;
}

.section-faq .section__image-wrapper {
  width: 50%;
}

@media (max-width: 1023px) {
  .section-faq .section__image-wrapper {
    width: 100%;
  }
}

.section-faq .section__image {
  border-radius: var(--border-radius);
}

@media (max-width: 767px) {
  .section-faq .section__image--mobile-hidden {
    display: none;
  }
}

/* RTL CSS  */

[dir="rtl"] .faq-menu-link li button {    
    padding-left: 0 !important;
  padding-right: 30px !important;
}

[dir="rtl"] .faq-menu-link li button:before {
    right: 0;
    left: auto;
    top: 5px;
}
[dir="rtl"] .faq-menu-link li button:after {
    left: auto;
    right: 3px;
    top: 8px;
}















